In [1]:
import pandas as pd

In [2]:
compras = pd.read_csv('data/olist_orders_dataset.csv',
                        usecols=['customer_id', 'order_purchase_timestamp'])

In [3]:
compras.head()

                        customer_id order_purchase_timestamp
0  9ef432eb6251297304e76186b10a928d      2017-10-02 10:56:33
1  b0830fb4747a6c6d20dea0b8c802d7ef      2018-07-24 20:41:37
2  41ce2a54c0b03bf3443c3d931a367089      2018-08-08 08:38:49
3  f88197465ea7920adcdbec7375364d82      2017-11-18 19:28:06
4  8ab97904e6daea8866dbdbc4fb7aad2c      2018-02-13 21:18:39

In [4]:
compras.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 2 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   order_purchase_timestamp  99441 non-null  object
dtypes: object(2)
memory usage: 1.5+ MB

In [5]:
from dtype_diet import report_on_dataframe

In [6]:
report_on_dataframe(compras)

,Current dtype,Proposed dtype,Current Memory (MB),Proposed Memory (MB),Ram Usage Improvement (MB),Ram Usage Improvement (%)
Column,,,,,,
customer_id,object,None,4321.473145,None,None,NaN
order_purchase_timestamp,object,None,3690.255859,None,None,NaN